# Build results
bin/
obj/
binpublish/
installer_output/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS / Rider
.vs/
.idea/
*.csproj.user

# NuGet
packages/

# OS files
Thumbs.db
.DS_Store

# Secrets
*.env
appsettings.Development.json
